
<div class="container mt-4" id="con">
  <div class="row mx-auto">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-light text-center text-dark" id="card-header">
              <span class="card-content">Valid</span>
            </div>
              <form class="card-body form-group" [formGroup]="regData" novalidate (ngSubmit)="submitForm()">
                {{'joshua'| checker}}
                  <input formControlName="name" placeholder="First name" class="form-control">
                  <span class="text-danger" *ngIf="myname.touched && myname.invalid">please enter</span><br>
                  <input type="" formControlName="email" placeholder="Email" class="form-control">
                  <span class="text-danger mt-3" *ngIf="myemail.dirty && myemail.invalid">please enter valid email</span>
                  <input type="" formControlName="password" placeholder="pass" class="form-control mt-4">
                  <span class="text-danger"*ngIf="mypassword.touched && mypassword.invalid">please enter</span>
                  <input type="" formControlName="phone" placeholder="phone number" class="form-control mt-4">
                  <span class="text-danger"*ngIf="myphone.touched && myphone.invalid">please enter</span>
                  <h3 *ngIf="thanks">thanks u</h3>
                  <div class=" mt-4">
                    <button  [disabled]="regData.invalid" type="submit" class="btn btn-warning float-right col-4" id="btn">
                      <span  class="fa fa-spinner fa-spin" *ngIf="submitted"></span>Submit
                    </button>
                    <!-- <button  [disabled]="submitted" type="submit" class="btn btn-warning float-right col-4" id="btn">
                      <span  class="fa fa-spinner fa-spin" *ngIf="submitted"></span>Submit
                    </button> -->
                  </div>
              </form>

          </div>
      </div>
  </div>
 </div>

