.main-conatiner{
  width: 50%;
  margin: 0 auto;

}
.nav-btn{
  border: 1px solid red;
  padding: 5px 16px;
  transition: 0.3s;
  margin-right: 20px;
  background: white;
  margin-top: 20px;
  justify-self: center;
  box-shadow:  10px 10px 6px gold;
  margin-left: 60px;
}
.nav-btn:hover{
  background: red;
}
