<div class="container mt-4">
  <table class="table table-hover">
    <tbody>
      <tr *ngIf="student">
        <td>{{student.name | uppercase}}</td>
        <td>{{student.lastname| uppercase}}</td>
        <td>{{student.phone| uppercase}}</td>
        <td>{{student.email| uppercase}}</td>
      <!-- <td><b>studentname:</b> {{id.name}}</td>
      <td><b>Phone number:</b> {{id.email| uppercase}}</td>
      <td><b>Lastname:</b> {{id.latsname| uppercase}}</td>
      <td><b>email:</b> {{id.email| uppercase}}</td> -->
      </tr>
    </tbody>
  </table>
</div>
