<div class="container-fluid mt-5">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
            <div class="text-center">One of Our student name</div>
              <h4 class="mt-5">
                Student-Name:&nbsp;&nbsp;{{studentNote.firstname}}
                <a href="" routerLink="/student-profile"class="btn btn-danger ml-2" (click)="validateTo(studentNote.id)"><i class="fa fa-inbox"></i></a>
              </h4>
          </td>
        </tr>
      </tbody>
    </table>
</div>



